
// ----------------------------------
// BaseKit Rows: Stylesheet
// ----------------------------------



// -----------------------------
// 1. #SASS Includes
// -----------------------------


@import "sass/base/bk-sass-framework-v8/bk-sass-framework-v8.scss";         // SASS Framework


body {
    margin: 0 auto;
    max-width: 1400px;
    padding: 40px;
}